.mini-msg{
  border-radius:5px;
  -webkit-transition:top .3s cubic-bezier(.645,.045,.355,1);
  transition:top .3s cubic-bezier(.645,.045,.355,1);
  font-size: 12px;
  position: absolute;
  z-index: 1010;
  width: 100%;
  top: -9999px;
  left: 0;
  height:auto;
  background-color:#ccc;
}
.mini-msg-notice{
  width: auto;
  vertical-align: middle;
  position: absolute;
  left: 50%
}
.mini-msg-notice-content{
  position: relative;
  right: 50%;
  padding: 8px 16px 8px 32px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,.2);
  background: #fff;
  display: block;
}
.mini-msg-notice-content .glyphicon{
  margin-right: 8px;
  font-size:14px;
  position: absolute;
  top: 9px;
  left: 14px;
}
.mini-msg-success .glyphicon{
  color: #87d068;
}
.mini-msg-warning .glyphicon{
  color: #fa0;
}
.mini-msg-error .glyphicon{
  color: #f50;
}
.mini-msg-info .glyphicon{
  color: #2db7f5;
}